div.gallery {
    overflow: hidden;
    margin: 5px;
    margin-bottom: none;
    border: 10px solid #555;
    background-color: #555;
    float: left;
    width: 180px;
    padding-bottom: -15px;
    }

    div.gallery:hover {
    border: 5px solid #666;
    background-color: #666;
    transition-duration: 0.5s;
    }

    div.gallery img {
    width: 100%;
    height: auto;
    margin-bottom: -5px;
    }

    div.desc {
    padding: -15px;
    text-align: center;
    }

    @media screen and (min-width: 1171px) {
        .gallery {
          grid-template-columns: repeat(12, 1fr); } }
      
    @media screen and (min-width: 769px) and (max-width: 1170px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr); } }